body {
    text-align: center;
    background-image: url(./all_images/tulips.jpg);
    background-size: cover;
    
}

.changeBackground{
    background-image: url(./all_images/over.webp);
    background-size: cover;
}

.position{
        position: fixed;
        top: 10px;
        right: 40px;
}


.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 20%;
    margin: 2rem;
}

.cream {
    /* background-color: #FFF5E0; */
    background-image: url(./all_images/newBird1.jpg);
    background-size: cover;
}

.pink {
    /* background-color: #FB9AD1; */
    background-image: url(./all_images/redBird.webp);
    background-size: cover;
}

.tomato{
    /* background-color: rgb(209, 86, 86); */
    background-image: url(./all_images/newBird4.avif);
    background-size: cover;
}

.nevyBlue{
    /* background-color: #18234c; */
    background-image: url(./all_images/bird4.jpg);
    background-size: cover;
}

.gameflash{
    background-image: url(./all_images/yellowColor.png);
    background-size: cover;
}

.userflash{
    background-image: url(./all_images/greenColor.jpg);
    background-size: cover;
}